:root {
    font-size: 16px;
}

* {
    text-transform: uppercase !important;
}

.switchers {
    width: 50%;
    margin: 3.125rem auto;
    justify-content: center;
    gap: 0.625rem;

    button {
        background-color: transparent;
        width: fit-content;
        padding: 5px;
        color: var(--primary);
        font-weight: 500;
        position: relative;
        font-size: 0.938rem;

        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0.125rem;
            background-color: var(--primary);
            left: 0;
            right: 0;
            bottom: 0;
            transition: all 0.5s ease;
        }

        &:hover::after {
            width: calc(100% - 10px);
            left: 0.313rem;
        }
    }
}

/* responsive */
@media screen and (max-width: 400px) {
    :root {
        font-size: 12px;
    }
}