:root {
    font-size: 16px;
}


.details {
    justify-content: center;
    gap: 1.25rem;

    .info {
        padding: 1.875rem;
        justify-content: space-between;
        align-items: center;

        .name {
            margin-bottom: 1.25rem;
        }

        .price {
            margin-bottom: 1.25rem;
        }

        .desc {
            margin: 1.25rem 0rem;

            p {
                text-transform: capitalize !important;
            }
        }

        .spec {
            justify-content: center;

            .size {


                h6 {
                    color: var(--primary);
                    display: inline;
                    margin-inline-end: 0.313rem;
                }
            }

            .color {


                h6 {
                    color: var(--primary);
                    display: inline;
                    margin-inline-end: 0.313rem;
                }
            }
        }

        .finilize {
            justify-content: start;
            align-items: center;
            gap: 0.625rem;
            margin: 1.25rem;

            .count {
                padding: 1.25rem;
                text-align: center;
                border: 1px solid var(--primary);

                .counter-btn {
                    background-color: var(--main);
                }

                .count-value {
                    font-size: 1.25rem;
                    margin: 0rem 1.25rem;
                }
            }

            .addtoCart {
                padding: 1.25rem;
                background-color: var(--primary);
                border-radius: 0;
                color: var(--main);
            }
        }

        .towishlist {
            margin-bottom: 1.25rem;

            button {
                background-color: transparent;

                i {
                    margin-inline-end: 0.313rem;
                }
            }
        }

        .category {
            text-transform: capitalize !important;

            p {
                text-transform: capitalize !important;
                display: inline;
                margin-inline-start: 0.313rem;
            }
        }
    }
}