.resetPassword {
  padding: 80px 0;
  background-color: aliceblue;
}
.resetPassword .cardReset {
  border: 1px solid #ededed;
  background-color: antiquewhite !important;
  padding: 20px;
  border-radius: 10px !important;
}
.resetPassword h2 {
  font-size: 30px;
  color: var(--primary);
  margin-bottom: 20px;
}
.resetPassword p {
  font-size: 14px;
  color: var(--primary);
  margin-bottom: 10px;
  text-transform: capitalize !important;
}
.resetPassword .my-3 {
  display: flex;
  flex-direction: column;
}
.resetPassword label {
  margin-bottom: 10px;
  text-transform: capitalize !important;
}
.resetPassword input {
  padding: 10px;
  width: 100%;
  text-transform: initial !important;
}
.resetPassword .signIn {
  background-color: var(--primary);
  padding: 10px 20px;
  color: var(--main);
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--primary);
  transition: all 500ms ease;
  text-transform: capitalize !important;
  &:hover {
    background-color: var(--main);
    color: var(--primary);
  }
}

.resetPassword h6 {
  font-size: 18px;
  color: var(--light_dark);
  margin-bottom: 20px;
  text-transform: capitalize !important;
}

.resetPassword p {
  color: var(--primary);
}
.resetPassword .paragraph {
  color: var(--primary);
}
.resetPassword #password {
  position: relative;
}
.resetPassword .submit {
  background-color: var(--primary);
  padding: 10px 20px;
  color: var(--main);
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border: 1px solid var(--primary);
  transition: all 500ms ease;
  text-transform: capitalize !important;
  &:hover {
    background-color: var(--secondary);
    color: var(--main);
  }
}
.resetPassword #new_password {
  position: relative;
}
.resetPassword #reset_showPasswordNew {
  position: absolute;
  top: 48%;
  right: 5%;
  cursor: pointer;
  font-size: 13px;
}
.resetPassword #confirm_password {
  position: relative;
}
.resetPassword #reset_showPasswordConfirm {
  position: absolute;
  top: 65.5%;
  right: 5%;
  cursor: pointer;
    font-size: 13px;
}

@media (max-width: 1200px) {
  .resetPassword #reset_showPasswordConfirm,
  .resetPassword #reset_showPasswordNew {
    right: 30px !important;
  }
}
@media (max-width: 1100px) {
  .resetPassword h2 {
    font-size: 25px !important;
  }
  .resetPassword input {
    font-size: 14px !important;
  }
}
/***************************************/
@media (max-width: 992px) {
  .resetPassword h2 {
    font-size: 20px !important;
  }
  .resetPassword input {
    font-size: 12px !important;
  }
  .resetPassword label,
  .resetPassword .signIn,
  .resetPassword .forget,
  .resetPassword .createAccount {
    font-size: 14px !important;
  }
  .resetPassword h6 {
    margin-top: 30px;
    font-size: 15px !important;
  }
  .resetPassword #reset_showPasswordConfirm,
  .resetPassword #reset_showPasswordNew {
    right: 30px !important;
  }
  .resetPassword #reset_showPasswordConfirm{
    top: 64% !important;
  }
  .resetPassword #reset_showPasswordNew{
    top: 47% !important;
  }
}
/***************************************/
@media (max-width: 768px) {
  .resetPassword #reset_showPasswordConfirm,
  .resetPassword #reset_showPasswordNew {
    font-size: 10px !important;
  }
  .resetPassword #reset_showPasswordConfirm{
    top: 65.5% !important;
  }
  .resetPassword #reset_showPasswordNew{
    top: 49% !important;
  }
}
/***************************************/
@media (max-width: 600px) {
  .resetPassword h2 {
    font-size: 18px !important;
  }
  .resetPassword input {
    font-size: 10px !important;
  }
  .resetPassword label,
  .resetPassword .signIn,
  .resetPassword .forget,
  .resetPassword .createAccount {
    font-size: 12px !important;
  }
  .resetPassword h6 {
    margin-top: 30px;
    font-size: 13px !important;
  }
  .resetPassword #reset_showPasswordConfirm,
  .resetPassword #reset_showPasswordNew {
    font-size: 10px !important;
  }
  .resetPassword input {
    width: 100% !important;
  }
  .resetPassword .submit {
    width: 100% !important;
    font-size: 10px !important;
  }
  .resetPassword #reset_showPasswordConfirm{
    top: 64.5% !important;
  }
  .resetPassword #reset_showPasswordNew{
    top: 47.5% !important;
  }
}
/***************************************/
@media (max-width: 426px) {
  .resetPassword h2 {
    font-size: 15px !important;
  }
  .resetPassword input {
    font-size: 8px !important;
  }
  .resetPassword label,
  .resetPassword .signIn,
  .resetPassword .forget,
  .resetPassword .createAccount,
  .resetPassword p,
  .resetPassword .paragraph {
    font-size: 10px !important;
  }
  .resetPassword h6 {
    margin-top: 30px;
    font-size: 11px !important;
  }
  .resetPassword #reset_showPasswordConfirm {
    font-size: 9px !important;
  }
  .resetPassword #reset_showPasswordNew {
    font-size: 9px !important;
  }
}
/***************************************/
@media (max-width: 376px) {
  .resetPassword .signIn,
  .resetPassword .createAccount {
    padding: 5px !important;
  }
}
/***************************************/
@media (max-width: 330px) {
  .resetPassword #reset_showPasswordNew {
    top: 49% !important;
  }
  .resetPassword #reset_showPasswordConfirm {
    top: 65.5% !important;
  }
}
