@media screen and (max-width: 992px) {
  .carousel-item .card-img img {
    width: 250px !important;
  }
  h2 div {
    font-size: 40px !important;
  }
  h2 .limitTime {
    font-size: 14px !important;
  }
  .e-gift-card {
    height: 345px !important;
    width: 448px;
  }
  .collections .card {
    margin-bottom: 16px !important;
    align-items: center;
  }
  .collections .image img {
    width: 448px;
  }

  .collections h2 {
    font-size: 20px;
  }
  .collections .Gift {
    display: flex;
    justify-content: center;
  }
  .collections .Kids-content,
  .collections .women-content {
    left: 145px !important;
  }
  .T-shirts .content h2 {
    font-size: 18px;
  }
  .T-shirts .link {
    font-size: 12px;
  }
  .Uomo h2 {
    font-size: 28px;
  }
  .Service .card {
    margin-bottom: 20px;
  }
  .footer p {
    padding: 0;
  }
  .footer .card {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item .card-img img {
    width: 200px !important;
    margin-top: 20px;
  }
  .text {
    padding-top: 50px;
  }
  h2 div {
    font-size: 30px !important;
  }
  h2 .limitTime {
    font-size: 12px !important;
  }
  .collections .Kids-content,
  .collections .women-content {
    left: 105px !important;
  }
  .collections .image img {
    width: 350px !important;
  }
  .e-gift-card {
    width: 350px !important;
    height: 302px !important;
  }
  .collections h2 {
    font-size: 18px !important;
  }
  .collections h6 {
    font-size: 14px !important;
  }
  .collections .link {
    font-size: 12px !important;
  }
  .T-shirts .content h2 {
    font-size: 15px !important;
  }
  .T-shirts .link {
    font-size: 10px !important;
  }
  .Uomo h2 {
    font-size: 24px !important;
  }
}
@media screen and (max-width: 650px) {
  .carousel-item .card-img img {
    width: 150px !important;
    margin-top: 30px !important;
  }
  h2 div {
    font-size: 20px !important;
  }
  h2 .limitTime {
    font-size: 10px !important;
  }
  .red-line {
    display: none !important;
  }
  .SpringCollections h2 {
    font-size: 20px !important;
  }
  .SpringCollections .link {
    font-size: 12px !important;
  }
  .SpringCollections .text {
    padding-top: 0 !important;
  }
  .SpringCollections .time {
    font-size: 20px !important;
  }
  .T-shirts .card {
    margin-bottom: 20px !important;
  }
  .T-shirts .content h2 {
    font-size: 14px !important;
  }
  .T-shirts .link {
    font-size: 10px !important;
  }
  .Uomo h2 {
    font-size: 23px !important;
  }
  .imageList img {
    width: 300px !important;
  }
  .Uomo .card.imageList {
    align-items: center !important;
  }
  .Service .icon i {
    font-size: 22px !important;
  }
  .Service h3 {
    font-size: 15px !important;
  }
  .Service p {
    font-size: 12px !important;
  }
  .footer .logo {
    width: 80px !important;
  }
  .footer h3 {
    font-size: 14px !important;
  }
  .footer p,
  .footer ul li .footerLink,
  .footer .sale,
  .footer.social-links i,
  .footer .join,
  .footer .form-control,
  .footer h6 {
    font-size: 12px !important;
  }
  .footer .payment img {
    width: 250px !important;
  }
}
@media screen and (max-width: 550px) {
  .collections .Kids-content,
  .collections .women-content {
    left: 110px !important;
  }
}
@media screen and (max-width: 480px) {
  .collections .Kids-content,
  .collections .women-content {
    left: 45px !important;
  }
  .collections .image img {
    width: 300px !important;
  }
  .e-gift-card {
    width: 300px !important;
    height: 259px !important;
  }
  .collections h2 {
    font-size: 16px !important;
  }
  .collections h6 {
    font-size: 12px !important;
  }
  .collections.link {
    font-size: 10px !important;
  }
  .SpringCollections h2 {
    font-size: 18px !important;
  }
  .SpringCollections .link {
    font-size: 12px !important;
  }
  .SpringCollections .time {
    font-size: 18px !important;
  }
  .T-shirts .content h2 {
    font-size: 13px !important;
    margin: 0;
  }
  .T-shirts .link {
    font-size: 9px !important;
  }
  .T-shirts .card {
    align-items: center;
  }
  .T-shirts .content {
    left: 87px !important;
  }
  .T-shirts .image img {
    width: 250px !important;
  }
  .Uomo h2 {
    font-size: 18px !important;
  }
  .imageList img {
    width: 200px !important;
  }
  .Uomo .card.imageList {
    align-items: center;
  }
  .Service .icon i {
    font-size: 18px !important;
  }
  .Service h3 {
    font-size: 12px !important;
  }
  .Service p {
    font-size: 12px !important;
  }
  .footer .logo {
    width: 60px !important; 
  }
  .footer h3 {
    font-size: 13px !important;
  }
  .footer p,
  .footer ul li .footerLink,
  .footer .sale,
  .footer.social-links i,
  .footer .join,
  .footer .form-control,
  .footer h6 {
    font-size: 10px !important;
  }
  .footer .payment img {
    width: 200px !important;
  }
  .footer .social-links i {
    font-size: 12px !important;
  }
}
@media screen and (max-width: 430px) {
  .collections .Kids-content,
  .collections .women-content {
    left: 72px !important;
  }
}
@media screen and (max-width: 400px) {
  .collections .Kids-content,
  .collections .women-content {
    left: 50px !important;
  }
  .SpringCollections .timer{
    gap: 25px !important;
  }
}
@media screen and (max-width: 320px) {
  .collections .Kids-content,
  .collections .women-content {
    left: 45px !important;
  }
  .collections .image img {
    width: 250px !important;
  }
  .e-gift-card {
    width: 250px !important;
    height: 209px !important;
  }
  .collections .menContent {
    top: 15px;
    h2 {
      margin: 0;
    }
  }
  .collections h2 {
    font-size: 14px !important;
  }
  .collections h6 {
    font-size: 10px !important;
  }
  .collections .link {
    font-size: 8px !important;
  }
  .T-shirts .content h2 {
    font-size: 12px !important;
  }
  .T-shirts .link {
    font-size: 8px !important;
  }
  .Uomo h2 {
    font-size: 15px !important;
  }
  .T-shirts .content {
    left: 25px !important;
    h6 {
      font-size: 10px !important;
    }
  }
}
