.aboutUomo h2{
    font-size: 40px;
    color: var(--primary);
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.aboutUomo .card{
    overflow: hidden;
}

.aboutUomo .card img{
   transition: all 0.8s ease-in-out;
   &:hover{
    transform: scale(1.1);
    opacity: 0.8;
    cursor: pointer;
   }
}
